/* * {
  border: 0.5px solid red;
} */

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 15vh auto;
  grid-template-areas: "banner banner" "main nav";
  font-size: 100%;
  background-color: lightgrey;
}

.banner__container {
  grid-area: banner;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.banner__title {
  font-size: 5em;
  color: white;
}
.banner__end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
  width: 12vh;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #c31432;
}
.banner__username {
  color: white;
  text-align: center;
  font-size: 1.5vh;
  font-style: italic;
}
.banner__userimage {
  height: 7vh;
  border: 2px solid white;
  border-radius: 100%;
}

.nav__container {
  grid-area: nav;
  width: 100%;
}
.nav__list {
  background-color: white;
  color: black;
  font-size: 2em;
  font-style: italic;
  list-style-type: none;
  margin: 1vh auto;
  padding: 1vh 1vw;
  text-align: center;
  width: 70%;
  border: 2px solid black;
  border-radius: 10px;
}
.nav__element {
  color: grey;
  font-size: 0.7em;
  margin: 1vh;
}

.main__container {
  grid-area: main;
}
.main__sorting {
  background-color: white;
  width: 30%;
  text-align: center;
  margin: 1vh auto;
  padding: 1vh 1vw;
  border: 2px solid black;
  border-radius: 5px;
  font-style: italic;
}
.main__sorting button {
  font-style: italic;
  padding: 0.5vh 0.5vw;
  border: 1px solid black;
  font-size: 0.8em;
  margin: 1vh 0;
}
.main__articles--small {
  width: 70%;
  margin: 1vh auto;
}
.main__articles--large {
}
.main__form {
}
.main__comments {
}

.article__container--small {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "info upvote" "title vote_count" "comments downvote";
  margin: 2vh 0;
  border-radius: 5px;
  background-color: white;
}
.article__container--small p {
  margin: 0;
  padding: 0;
}
.article__information--small {
  grid-area: info;
  font-size: 0.9em;
  display: flex;
  justify-content: space-around;
}
.article__title--small {
  grid-area: title;
  font-size: 1.5em;
  text-align: center;
}
.article__comments--small {
  grid-area: comments;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
}
.article__voting--upvote {
  grid-area: upvote;
}
.article__voting--count {
  grid-area: vote_count;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.article__voting--downvote {
  grid-area: downvote;
}
.vote--selected {
  background-color: black;
}

.comment--small {
}

@media screen and (max-width: 450px) {
  .App {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 8vh 5vh 3vh auto;
    grid-template-areas: "banner user" "nav nav" "sort sort" "main main";
  }
  .banner__container {
    grid-area: banner;
  }
  .banner__username {
    grid-area: user;
  }
  .nav__container {
    grid-area: nav;
  }
  .main__sorting {
    grid-area: sort;
  }
  .main__container {
    grid-area: main;
  }
}

.selected {
  background-color: lightgrey;
}
