/* * {
  border: 0.5px solid red;
} */

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}

.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 15vh auto;
  grid-template-areas: "banner banner" "main nav";
  font-size: 100%;
  background-color: lightgrey;
}

.banner__container {
  grid-area: banner;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.banner__title {
  font-size: 5em;
  color: white;
}
.banner__end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
  width: 12vh;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #c31432;
}
.banner__username {
  color: white;
  text-align: center;
  font-size: 1.5vh;
  font-style: italic;
}
.banner__userimage {
  height: 7vh;
  border: 2px solid white;
  border-radius: 100%;
}

.nav__container {
  grid-area: nav;
  width: 100%;
}
.nav__list {
  background-color: white;
  color: black;
  font-size: 2em;
  font-style: italic;
  list-style-type: none;
  margin: 1vh auto;
  padding: 1vh 1vw;
  text-align: center;
  width: 70%;
  border: 2px solid black;
  border-radius: 10px;
}
.nav__element {
  color: grey;
  font-size: 0.7em;
  margin: 1vh;
}

.main__container {
  grid-area: main;
}
.main__sorting {
  background-color: white;
  width: 30%;
  text-align: center;
  margin: 1vh auto;
  padding: 1vh 1vw;
  border: 2px solid black;
  border-radius: 5px;
  font-style: italic;
}
.main__sorting button {
  padding: 0.5vh 0.5vw;
  border: 1px solid black;
  font-size: 0.8em;
  margin: 1vh 0;
}
.main__articles--small {
  width: 70%;
  margin: 1vh auto;
}
.main__article--large {
  width: 80%;
  margin: 1vh auto;
}
.main__form {
  width: 60%;
  margin: 1vh auto;
}
.main__comments {
  width: 60%;
  margin: 1vh auto;
}

.article__container--small {
  border: 1px solid black;
  display: grid;
  height: 15vh;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 0.5fr;
  grid-template-areas: "info upvote" "title vote_count" "comments downvote";
  margin: 2vh 0;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
}
.article__container--small p {
  margin: 0;
  padding: 0 1vw;
  white-space: nowrap;
}
.article__information--small {
  grid-area: info;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article__title--small {
  grid-area: title;
  font-size: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-wrap: break-word;
  overflow-y: hidden;
  text-align: justify;
}
.article__comments--small {
  grid-area: comments;
  font-size: 0.9em;
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.article__voting--upvote {
  grid-area: upvote;
  border-left: 1px dashed grey;
  border-bottom: 1px dashed grey;
  border-right: none;
  border-top: none;
  border-top-right-radius: 5px;
  font-size: 1em;
  z-index: 0;
}
.article__voting--count {
  grid-area: vote_count;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-left: 1px dashed grey;
  border-right: none;
}
.article__voting--downvote {
  grid-area: downvote;
  border-left: 1px dashed grey;
  border-top: 1px dashed grey;
  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 5px;
  font-size: 1em;
  z-index: 0;
}

.article__container--large {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 3.5vh 8.2vh 3.5vh;
  grid-template-areas: "info upvote" "title vote_count" "comments downvote" "body body";
  margin: 2vh 0;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
}
.article__information--large {
  grid-area: info;
  margin: 0;
  padding: 0 1vw;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article__title--large {
  grid-area: title;
  margin: 0;
  padding: 0 1vw;
  font-size: 1.5em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow-wrap: break-word;
  overflow-y: hidden;
  text-align: justify;
}
.article__comments--large {
  grid-area: comments;
  margin: 0;
  padding: 0 1vw;
  font-size: 0.9em;
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.article__voting--upvote {
  grid-area: upvote;
  border-left: 1px dashed grey;
  border-bottom: 1px dashed grey;
  border-right: none;
  border-top: none;
  border-top-right-radius: 5px;
  font-size: 1em;
  z-index: 0;
}
.article__voting--count {
  grid-area: vote_count;
  margin: 0;
  padding: 0 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-left: 1px dashed grey;
  border-right: none;
}
.article__voting--downvote {
  grid-area: downvote;
  border-left: 1px dashed grey;
  border-top: 1px dashed grey;
  border-right: none;
  border-bottom: none;
  border-bottom-right-radius: 5px;
  font-size: 1em;
  z-index: 0;
}
.article__body--large {
  grid-area: body;
  margin: 0;
  padding: 1vh 1vw;
  border-top: 2px solid black;
}

.form__container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 10vh;
  grid-template-areas: "input submit";
  margin: 2vh 0;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
}
.form__input {
  border: none;
  z-index: 0;
  margin: 0 1vw;
  font-style: italic;
  font-size: 1em;
}
.form__button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px dashed grey;
  border-right: none;
  border-top: none;
  border-bottom: none;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.comment__container {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 0.5fr 1.2fr 0.5fr;
  grid-template-areas: "info upvote" "body vote_count" "delete downvote";
  margin: 2vh 0;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
}
.comment__container p {
  margin: 0;
  padding: 0 1vw;
}
.comment__info {
  grid-area: info;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment__body {
  grid-area: body;
}
.comment__delete {
  grid-area: delete;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .banner__container {
    height: auto;
  }
  .banner__title {
    font-size: 10vw;
    color: white;
  }
  .banner__end {
    height: 8vh;
    width: 8vh;
  }
  .banner__userimage {
    height: 5vh;
    border: 2px solid white;
    border-radius: 100%;
  }
  .nav__container {
    width: 100%;
  }
  .nav__list {
    display: flex;
    font-size: 4vw;
    justify-content: space-between;
    align-items: baseline;
  }
  .nav__element {
    display: inline;
    font-size: 1em;
  }
}

.selected {
  background-color: #c31432;
}
